<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Dinero cagando</div>
      <div class="item item-body">
        <div>
          <b>130.32 €</b> Ganados en total
        </div>
        <div>
          <b>0.62 €</b> Medios por cagada
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Mas estadistica</div>
      <div class="item item-body">
        <div>
          <b>126</b> Cagadas en total
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
