<ion-view view-title="Configuracion">

	<ion-nav-buttons side="right" >
        <button class="button" type="submit" ng-click="submit()" ng-show="myForm.$dirty" >Guardar</button>
    </ion-nav-buttons>

<form ng-submit="submit()" name="myForm">	
  <ion-content>
		
		    <label class="item item-input">
			  <span class="input-label">Tu sueldo mensual</span>
			  <input type="number" name="salary" ng-model="poooper.salary" placeholder="{{poooper.salary || 'Introduce tu sueldo'}}">
			  <span class="input-label">€</span>
			</label>

  </ion-content>
</form>		

  
  
</ion-view>
